{% extends "base.html" %}

{% block title %}
Register Page
{% endblock title %}

{% block content %}

<form style="margin: auto; width: 50%; padding-top:30px" action="" method="POST" novalidate>
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {% if messages%}
    {%for msg in messages%}
    <p class="bg-success text-white p-3">{{msg}}</p>
    {%endfor%}
{%endif%}
    <!--{{form|crispy}}-->
    <h1>Create a User</h1>
    {%for form_item in form%}
    {{form_item.label_tag}}
    {{form_item}}
    {{form_item.errors|striptags}}
    {%endfor%}
    <br>
    <button class="btn btn-success" type="submit">Create User</button>
</form>

{% endblock content %}